html {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
body {
    margin: 0;
    padding: 0;
}
input[type="checkbox"] {
    width: 70px;
    height: 70px;
    position: fixed;
    left: 90%;
    visibility: hidden;
    z-index: 100000;
    cursor: pointer;
}
#icon {
    width: 70px;
    height: 70px;
    position: fixed;
    left: 90.4%;
    top: 0.3%;
    background-color: gray;
    z-index: 100001;
    pointer-events: none;
    visibility: hidden;
}
#icon:before {
    content: 'Close';
    color: black;
    font-size: 25px;
    line-height: 60px;
    margin-left: 6px;
}
input[type="checkbox"]:checked ~ nav {
    transform: translateY(-1200px);
}
input[type="checkbox"]:checked ~ #icon:before {
    content: 'Menu';
}
nav {
    width: 100%;
    height: 70px;
    background-color: darkgreen;
    transition: 0.5s;
}
ul li {
    display: inline-block;
    margin: 18px;
    font-size: 30px;
}
ul li a {
    text-decoration: none;
    color: ghostwhite;
    transition: 0.5s;
}
ul li a:hover {
    color: yellow;
}
@media (max-width: 799px) {
    body {
        margin: -20;
        padding: -20;
    }
    nav {
        height: 100vh;
    }
    ul li {
        display: block;
        font-size: 40px;
        padding: 30px;
    }
    input[type="checkbox"] {
        visibility: visible;
    }
    #icon {
        visibility: visible;
    }
}